.container{
    margin: 200px 300px ;
    
     padding: 0px 30px;
     margin-top: 260px;

    
}
input{
    width: 265px;
    height: 33px;
    border-radius: 19px;
    margin-left: 318px;
}
img{
    height: 25px;
    
}
ul li{
    display: inline;
    justify-content: center;
    align-items: center;
    text-align: center;
   
}
body{
    background-image: url(google.webp);
}
input:hover{
   background-color: aquamarine;
}
button:hover{
    background-color: chartreuse;
}